<mat-toolbar *ngIf="authService.isLoggedIn()">
  <span routerLink="/info-board" style="cursor: pointer">Info Board</span>
<!--  <a mat-button routerLink="/info-board">Info Board</a>-->
  <button mat-icon-button [matMenuTriggerFor]="infoBoardMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #infoBoardMenu="matMenu">
    <button mat-menu-item routerLink="post/create">Add Post</button>
<!--    <button mat-menu-item>Edit Post</button>-->
<!--    <button mat-menu-item>Delete Post</button>-->
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="categoryMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #categoryMenu="matMenu">
    <button mat-menu-item routerLink="category/create">Add Category</button>
    <button mat-menu-item routerLink="category/edit">Edit Category</button>
    <button mat-menu-item routerLink="category/delete">Delete Category</button>
  </mat-menu>
  <span class="example-spacer"></span>
  <p style="margin: 0">{{authService.getUsername()}}</p>
  <button (click)="authService.logout()" mat-icon-button class="example-icon logout-icon" aria-label="button with lgout icon">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
