<form [formGroup]="form" (ngSubmit)="onSubmit($event)" class="center">
  <h1>Create New Post</h1>

  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title">
  </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Categories</mat-label>
      <mat-select (change)="onCategoryChange($event)" formControlName="categories" multiple>
        <mat-option *ngFor="let category of categoryList" value="{{category.id}}">{{category.name}}</mat-option>
      </mat-select>
    </mat-form-field>

<!--  <mat-form-field appearance="fill">-->
<!--    <mat-label>Content</mat-label>-->
<!--    <textarea matInput formControlName="content"></textarea>-->
<!--  </mat-form-field>-->

  <ckeditor [editor]="Editor" formControlName="content" style="min-height: 50vh; min-width: 80vw"></ckeditor>

  <!--  submit-->
  <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Submit</button>
</form>
