<div class="search" style="justify-content: center">
  <mat-form-field appearance="fill" style="width: 50vw">
    <mat-label>Search</mat-label>
      <input matInput (input)="search($event)">
  </mat-form-field></div>

<div class="post-container">
  <mat-card class="items" (click)="navigateToPost(post.id)" *ngFor="let post of posts">
    <h2>{{post.title | truncate:20}} </h2>
    <p>{{post.content | truncate:100}} </p>
    <p>{{getRelativeDate(post.createdAt)}} </p>
    <p class="category-pill" *ngFor="let category of post.categories">{{category.name}}</p>
  </mat-card>
</div>
