<form [formGroup]="form" (ngSubmit)="onSubmit($event)" class="center">
  <h1>Edit Category</h1>

<!--  mat-select-->
  <mat-form-field appearance="fill">
    <mat-label>Category</mat-label>
    <mat-select formControlName="oldCategory">
      <mat-option *ngFor="let category of categoryList" [value]="category">
        {{category.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Color</mat-label>
    <input matInput [value]="color" [(colorPicker)]="color"/>
  </mat-form-field>

  <app-category-pill [category]="getPreviewCategory()"></app-category-pill>

  <!--  submit-->
  <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Submit</button>
</form>
